@{
    ViewBag.Title = "JoinME";
}

@model 


<div class="contentHome">

    <div class="card text-center myCustomCard">
        <div class="myCustomStyle card-header">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4"><p><span></span></p></div>
                    <div class="col-sm-4"><p><span>S&R Olympia</span><span class="span-km"> 5km</span></p></div>
                    <div class="col-sm-4"><p><span class="span-number badge">5</span></p></div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-4"><img width="100em" src="~/Content/Images/swimming.png" /></div>
                <div class="col-sm-8">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p><span class="glyphicon glyphicon-star"></span></p>
                    <a href="#" class="MyBotton first btn btn-primary">Info</a>
                    <a href="#" class="MyBotton btn btn-primary">Join</a>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="card text-center myCustomCard">

        <div class="myCustomStyle card-header ">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4"><p><span>Fietsen</span></p></div>
                    <div class="col-sm-4"><p><span>Bos</span></p></div>
                    <div class="col-sm-4"><p><span class="span-number badge">5</span></p></div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-4"><img width="100em" src="~/Content/Images/fietsen.png" /></div>
                <div class="col-sm-8">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                    <a href="#" class="MyBotton first btn btn-primary">Info</a>
                    <a href="#" class="MyBotton btn btn-primary">Join</a>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="card text-center myCustomCard">
        <div class="card-header">
            <div class="myCustomStyle card-header">
                <div class="row">
                    <div class="col-sm-4"><p><span>Lopen</span></p></div>
                    <div class="col-sm-4"><p><span>Park</span></p></div>
                    <div class="col-sm-4"><p><span class="span-number badge">4</span></p></div>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-4"><img width="100em" src="~/Content/Images/lopen.png" /></div>
                <div class="col-sm-8">
                    <h4 class="card-title">Special title treatment</h4>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></p>
                    <a href="~/Home/Info" class="MyBotton first btn btn-primary">Info</a>
                    <a href="#" class="MyBotton btn btn-primary">Join</a>
                </div>
            </div>
        </div>
    </div>
</div>
