@{
    ViewBag.Title = "JoinME";
}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="card-block">
        <img class="card-img-top" src="~/Content/Images/persoon-zwemmen_318-53844.jpg" alt="Card image cap">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Info</a>
        <a href="#" class="btn btn-primary">Join</a>
    </div>
</div>

